@page "/weather"
@inject HttpClient Http
@using System.Text.Json
@using System.Collections.Generic
@using System.Text.Json.Serialization
@using System.Linq
@inject BlazorApp1.CountryService CountryService

<PageTitle>Countries</PageTitle>

<h1>Countries</h1>

@if (countries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Currencies</th>
                <th>Languages</th>
                <th>Area</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>
                    <td>@country.Name.Common</td>
                    <td>@string.Join(", ", country.Capital)</td>
                    <td>@string.Join(", ", country.Currencies.Select(c => $"{c.Key} ({c.Value.Name} - {c.Value.Symbol})"))</td>
                    <td>@string.Join(", ", country.Languages.Select(l => l.Value))</td>
                    <td>@country.Area</td>
                    <td>
                        <a href="/country/@country.Name.Common" class="btn btn-primary">Open</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<BlazorApp1.Country>? countries;

    protected override async Task OnInitializedAsync()
    {
        countries = await CountryService.GetCountriesAsync();
    }
}
